:root
{
    --dark-blue: rgb(0, 0, 35);
    --mid-blue: rgb(25,25,112);
    --light-blue: rgb(25, 25, 255);
    --font-1: Arial, Helvetica, sans-serif;
    --bio-img: url("bio background.png");
    --banner-img: url("banner.gif");
    --gold: rgb(190, 180, 30);
    --intro-height: 10vh;
    --font-1-B: 'Bahnschrift';
    --font-2-I: 'Impact';
    --font-3-C: 'Consolas';
    --purple-gradient: linear-gradient(to right, purple, rgb(200, 29, 200), purple);
}
html
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 50px;
    background: var(--purple-gradient);
}
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes slidedown
{
    0%{transform: translateY(100%);}
    100%{transform: translateY(0);}
    /*animation: slidein 2s forwards infinite{loop};*/
}
@keyframes slideup
{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
    /*animation: slideup 2s forwards infinite;*/
}
/*---ANIMATIONS---*/
@keyframes  pulse/*Makes the object change size in a pulsating motion*/
{
    0%, 100%{transform: scale(0.95);}
    50%{transform: scale(1);}
    /*animation: pulse 2s ease-in-out infinite;*/
}
@keyframes bounce
{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    /*animation: bounce 2s ease-in-out infinite;*/
}
@keyframes revolution
{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    /*animation: revolution 2s infinite linear;*/
}
@keyframes slidein
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
    /*animation: slidein 2s forwards infinite;*/
}
@keyframes slideleft /*Slides In from the far Left*/
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
@keyframes slideright
{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}
@keyframes zoomfade
{
    0%
    {
        transform: scaleX(0.1);
        opacity: 0;
    }
    50%
    {
        transform: scaleX(0.8);
        opacity: 0.5;
    }
    100%
    {
        transform: translateX(1);
        opacity: 1;
    }
}

header
{
    width: 99%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: start;
    animation: slideup 1s forwards ease-in-out;
}
.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 15%;
}
.icon img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.burger
{
    display: none;
}
.action a
{
    border-radius: 50px;
    background-color: purple;
    padding: 10px;
}

main
{
    width: 99%;
    padding: 0;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: space-evenly;
}
.data
{
    z-index: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 99%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;
}
.name
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideleft 2s forwards ease-in-out;
}
.slogan
{
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-decoration: double;
    animation: slideright 3s forwards ease-in-out;
}
.more_btn
{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px;
    background: linear-gradient(to right, purple, rgb(200, 29, 200), purple);
}
.more_btn a
{
    text-decoration: none;
    color: white;    
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    animation: slidedown 3.5s forwards ease-in-out;
}

.summary
{
    padding: 0;
    margin: 0;
    width: 99%;
    height: 90vh;
    scroll-snap-align: start;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: zoomfade 1s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
.summary h1
{
    font-weight: bold;
    color: purple;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: white;
    box-shadow: 0px 0px 5px 5px white;
    animation: slideup 1s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
.text
{
    width: clamp(50%, 70%, 90%);
    height: 60%;
    padding: 10px;
    margin: 0;
    color: white;
    font-family: sans-serif, 'Arial Narrow Bold', Impact, Haettenschweiler;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: linear-gradient(to right, rgba(128, 0, 128, 0.504), rgba(200, 29, 200, 0.504), rgba(128, 0, 128, 0.504));
    box-shadow: 0px 0px 5px 5px rgba(128, 0, 128, 0.503);
    animation: zoomfade 2s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}

article
{

    margin: 0;
    padding: 0;
    width: 99%;
    height: 30vh;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: space-evenly;
}
h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: 400;
    color: black;
}
.parent
{
    width: 90%;
    display: flex;
    color: white;
    flex-direction: row-reverse;
    font-family: var(--font-1-B);
    justify-content: space-between;
}
.call_head, .address_head
{
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
}
.contact li
{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
footer
{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo
{
    width: 50px;
    height: auto;  
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    .chair::-webkit-scrollbar 
    {
        display: none;
    }
  
    Hide scrollbar for IE, Edge and Firefox 
    .chair 
    {
        -ms-overflow-style: none;   IE and Edge 
        scrollbar-width: none;   Firefox 
    }
*/
footer
{
    background-color: aqua;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.author
{
    font-style: italic;
    color: var(--dark-blue);
    font-family: var(--font-1-B);
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.author a
{
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    font-size: large;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author a img
{
    width: auto;
    height: 100%;
}
.background
{
    width: 100%;
    height: 100%;
}
.background img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 800px)
{
    .burger
    {
        width: 30px;
        margin: 10px;
        padding: 5px;
        height: 20px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        flex-direction: column;
        background-color: skyblue;
        justify-content: space-around;
    }
    .burger ul
    {
        opacity: 0;
        display: none;
    }
    .burger span
    {
        margin: 0;
        padding: 0;
        opacity: 1;
        width: 100%;
        height: 20%;
        background: var(--purple-gradient);
    }
    .click
    {
        top: 3px;
        right: 3px;
        width: 60px;
        height: 50px;
        z-index: 100;
        position: absolute;
    }
    .burger
    {
        cursor: grab;
    }
    #tabs2
    {
        top: 60px;
        z-index: 0;
        right: 10px;
        padding: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        position: absolute;
        visibility: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #tabs2 li, a
    {
        color: skyblue;
        font-weight: bold;
        text-decoration: none;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .list
    {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
    }
    .tabs
    {
        display: none;
    }


    .burger :active
    {
        cursor: grabbing;
    }
    .burger :hover ul#tabs2
    {
        opacity: 1;
        visibility: visible;
        border-radius: 20px;
        background-color: purple;
    }
    .section
    {
        height: 90dvh;
    }
    .section .data
    {
        height: 90dvh;
        display: flex;
        align-items: center;
        border: solid black;
        flex-direction: column;
        justify-content: space-around;
    }
    .data .name
    {
        height: 50%;
        padding: 5px;
    }
    .on_side
    {
        display: none;
    }
    .data .name img
    {
        height: 95%;
    }
}

.a:hover
{
    background-color: white;
}
@media screen and (min-width: 800px)
{
    .icon
    {
        width: 10%;
    }
    .tabs
    {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .tabs li, .tabs span
    {
        width: 20%;
        display: flex;
        font-weight: bold;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tabs li a
    {
        color: skyblue;
        font-weight: bold;
        text-decoration: none;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    a
    {
        text-decoration: none;
    }
    a:hover
    {
        text-shadow: 2px 2px 0px rgb(46, 0, 46);
    }
    .icons
    {
        gap: 10%;
        width: 10%;
        height: 40px;
        padding: 5px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-radius: 25px;
        align-items: center;
        background-color: purple;
        justify-content: space-around;
    }
    .icons li
    {
        width: 20%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icons li a
    {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
    } 
    .icons li a img
    {
        height: 100%;
        aspect-ratio: 1/1;
    }
    .burger
    {
        opacity: 0;
        display: none;
    }
    .tabs2
    {
        opacity: 0;
        display: none;
    }
    .icons img
    {
        height: 100%;
        aspect-ratio: 1/1;
    }
    .name
    {
        height: 50%;
        width: 99%;
    }
    .on_top
    {
        display: none;
    }
    .name img
    {
        width: 100%;
    }
}

