:root
{
    --purple-gradient: linear-gradient(to right, purple, rgb(200, 29, 200), purple);
    --dark-purple: rgb(39, 0, 39);
    --dark-blue: rgb(0, 0, 35);
    --mid-blue: rgb(25,25,112);
    --light-blue: rgb(25, 25, 255);
    --font-1: Arial, Helvetica, sans-serif;
    --bio-img: url("bio background.png");
    --banner-img: url("banner.gif");
    --gold: rgb(190, 180, 30);
    --intro-height: 10vh;
    --font-1-B: 'Bahnschrift';
    --font-2-I: 'Impact';
    --font-3-C: 'Consolas';
}
@keyframes slidein
{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
    /*animation: slidein 2s forwards infinite{loop};*/
}
@keyframes slideup
{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
    /*animation: slideup 2s forwards infinite;*/
}
/*---ANIMATIONS---*/
@keyframes  pulse/*Makes the object change size in a pulsating motion*/
{
    0%, 100%{transform: scale(0.95);}
    50%{transform: scale(1);}
    /*animation: pulse 2s ease-in-out infinite;*/
}
@keyframes bounce
{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    /*animation: bounce 2s ease-in-out infinite;*/
}
@keyframes revolution
{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    /*animation: revolution 2s infinite linear;*/
}
@keyframes slidein
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
    /*animation: slidein 2s forwards infinite;*/
}
@keyframes slideleft /*Slides In from the far Left*/
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
@keyframes slideright
{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}
@keyframes zoomfade
{
    0%
    {
        transform: scaleX(0.1);
        opacity: 0;
    }
    50%
    {
        transform: scaleX(0.8);
        opacity: 0.5;
    }
    100%
    {
        transform: translateX(1);
        opacity: 1;
    }
}

html
{
    scroll-behavior: smooth;
    box-sizing: content-box;
    scroll-snap-type: y mandatory;
    background: linear-gradient(45deg, purple,10%, var(--dark-purple),90%, purple);
}
*
{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
}
/*----Header Section----*/
header
{
    top: 0px;
    width: 100%;
    height: 10dvh;
    z-index: 1000;
    display: flex;
    font-size: large;
    font-weight: bold;
    position: absolute;
    align-self: center;
    align-items: center;
    scroll-snap-align: start;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    animation: slideup 1s forwards ease-in-out;
    box-shadow: 0 0 5px 5px rgba(33, 0, 33, 0.54);
    border-bottom: solid rgba(255, 255, 255, 0.321) 1px;
}
.header-logo
{
    height: 90%;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.header-logo img
{
    height: 90%;
    width: auto;
    border-radius: 10px;
}
/*----Tabs ----*/
.tabs
{
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.tabs li
{
    width: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tabs li a
{
    color: whitesmoke;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
}
a:hover
{
    color: skyblue;
    text-shadow: 2px 2px 0px skyblue;
}
/*----Burger Menu----*/
.list
{
    display: none;
}
.burger
{
    width: 40px;
    padding: 5px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.burger li
{
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 100%;
    height: 15%;
    background: whitesmoke;
}
.click
{
    top: 3px;
    right: 3px;
    width: 60px;
    height: 50px;
    z-index: 100;
    position: absolute;
}
.burger :active
{
    cursor: grabbing;
}
#tabs
{
    position: absolute;
    background: none;
    border: none;
    height: 50%;
    width: 50%;
    left: 40%;
    top: 70px;
}
#tabs li
{
    box-shadow: 3px 3px 5px 0.5px rgba(30, 0, 30, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(30, 0, 30, 0.7);
    backdrop-filter: blur(40px);
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    height: 15%;
    width: 90%;
}
#tabs a
{
    color: skyblue;
    list-style: none;
    font-size: larger;
    text-decoration: none;
}
.action a
{
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    width: 100%;
}

main
{
    padding: 0;
    width: 99%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: space-evenly;
}
.main-bg
{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
} 
.main-bg img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.data
{
    margin: 0;
    z-index: 1;
    padding: 0;
    width: 80%;
    height: 80vh;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: space-evenly;
}
.hero
{
    width: 90%;
    height: 150px;
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
}
.slogan
{
    width: 80%;
    display: flex;
    font-size: 5dvw;
    color: skyblue;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    text-shadow: 2px 2px 0px white;
    animation: slideleft 2s forwards ease-in-out;
    border: solid rgba(255, 255, 255, 0.241) 1px;
    font-family: sans-serif, 'Arial Narrow Bold', Impact, Haettenschweiler;
}
.more_btn
{
    padding: 10px;
    border-radius: 10px;
    border: solid purple 1px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 1px;
}

.more_btn a
{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: purple;    
}

.summary
{
    margin: 0;
    padding: 0;
    width: 99%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: space-evenly;
    animation: zoomfade 2s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
.contact-form
{
    border: solid rgba(135, 207, 235, 0.303) 1px;
    background-color: rgba(135, 207, 235, 0.04);
    box-shadow: 2px 5px 40px 5px black;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    margin: 5px;
    height: 90%;
    width: 90%;
}
h2
{
    color: skyblue;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr
{
    width: 80%;
}
input
{
    border-radius: 5px;
    min-width: 40%;
    padding: 5px;
    animation: slideleft 2s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
textarea
{
    height: 200px;
    width: clamp(80%, 50%, 500px);
    animation: zoomfade 2s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
.submit
{
    padding: 10px;
    color: white;
    border-radius: 15px;
    font-weight: bolder;
    background-color: purple;
    font-family: var(--font-3-C);
    animation: slidedown 2s linear;
    animation-timeline: view();
    animation-range: entry cover 50%;
}
.submit:hover
{
    background-color: white;
    transition: 0.5s;
    color: purple;
}
.summary h1
{
    padding: 10px;
    color: purple;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 5px white;
}
.text
{
    margin: 0;
    width: 90%;
    height: 60%;
    padding: 10px;
    display: flex;
    color: purple;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    justify-content: space-evenly;
    background-color: rgba(173, 216, 230, 0.5);
    font-family: sans-serif, 'Arial Narrow Bold', Impact, Haettenschweiler;
}

h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: 400;
}
.logo
{
    width: 50px;
    height: auto;  
    display: flex;
    align-items: center;
    justify-content: center;
}
img
{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*----Contacts Section----*/
#contacts
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90dvh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    scroll-snap-align: start;
}
.contacts-bg
{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
}
.contacts-bg img
{
    width: 100%;
    height: 100%;
    object-fit: stretch;
}
.con-head
{
    align-content: center;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: white;
    height: 10%;
    width: 80%;
}
.parent
{
    gap: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    animation: zoomfade 2s linear;
}
.con-box
{
    gap: 13%;
    padding: 5%;
    width: 300px;
    height: 300px;
    display: flex;
    color: white;
    overflow: auto;
    aspect-ratio: 1/1;
    align-items: start;
    border-radius: 20px;
    list-style-type: none;
    flex-direction: column;
    justify-content: start;
    backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.321) 1px;
}
.con-box hr
{
    width: 90%;
}
footer
{
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
    scroll-snap-align: end;
    justify-content: space-between;
}
.copyright
{
    display: flex;
    padding: 0 5%;
    font-size: 1rem;
    color: skyblue;
    font-weight: bold;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
.author
{
    width: 500px;
    height: 30px;
    display: flex;
    color: white;
    font-style: italic;
    align-items: center;
    justify-content: right;
    font-family: var(--font-1-B);
}
.author a
{
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    align-items: center;
    padding: 0 10% 0 5%;
    font-style: normal;
    width: fit-content;
    color: skyblue;
    font-size: large;
    display: flex;
    height: 100%;
}
.author a img
{
    width: auto;
    height: 100%;
}

@media screen and (max-width: 700px)
{
    .list
    {
        flex-direction: row-reverse;
        display: flex;
        width: 60%;
    }
    .tabs
    {
        opacity: 0;
        display: none;
    }


    .burger :active
    {
        cursor: grabbing;
    }
    .burger :hover ul#tabs2
    {

        opacity: 1;
        visibility: visible;
    }
}

@media screen and (min-width: 700px)
{
    .tabs
    {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    a
    {
        text-decoration: none;
    }
    .burger
    {
        opacity: 0;
        display: none;
    }
    .tabs2
    {
        opacity: 0;
        display: none;
    }  
}