:root
{
    --purple-gradient: linear-gradient(to right, purple, rgb(200, 29, 200), purple);
    --dark-purple: rgb(39, 0, 39);
    --font-1: Arial, Helvetica, sans-serif;
    --intro-height: 10vh;
    --font-1-B: 'Bahnschrift';
    --font-3-C: 'Consolas';
    --font-2-I: 'Impact';
}

@keyframes slidedown
{
    0%{transform: translateY(100%);}
    100%{transform: translateY(0);}
    /*animation: slidein 2s forwards infinite{loop};*/
}
@keyframes slideup
{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
    /*animation: slideup 2s forwards infinite;*/
}
/*---ANIMATIONS---*/
@keyframes  pulse/*Makes the object change size in a pulsating motion*/
{
    0%, 100%{transform: scale(0.95);}
    50%{transform: scale(1);}
    /*animation: pulse 2s ease-in-out infinite;*/
}
@keyframes bounce
{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    /*animation: bounce 2s ease-in-out infinite;*/
}
@keyframes revolution
{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    /*animation: revolution 2s infinite linear;*/
}
@keyframes slidein
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
    /*animation: slidein 2s forwards infinite;*/
}
@keyframes slideleft /*Slides In from the far Left*/
{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
@keyframes slideright
{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}
@keyframes zoomfade
{
    0%
    {
        transform: scale(0.1);
        opacity: 0;
    }
    50%
    {
        transform: scale(0.8);
        opacity: 1;
    }
    100%
    {
        transform: translate(1);
        opacity: 1;
    }
}

html
{
    scroll-behavior: smooth;
    box-sizing: content-box;
    scroll-snap-type: y mandatory;
    background: linear-gradient(45deg, purple,10%, var(--dark-purple),90%, purple);
}
*
{
    margin: 0px;
    padding: 0px;
    transition: all 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/*----Header Section----*/
header
{
    top: 0px;
    width: 100%;
    height: 10dvh;
    z-index: 1000;
    display: flex;
    font-size: large;
    font-weight: bold;
    position: absolute;
    align-self: center;
    align-items: center;
    scroll-snap-align: start;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    animation: slideup 1s forwards ease-in-out;
    box-shadow: 0 0 5px 5px rgba(33, 0, 33, 0.54);
    border-bottom: solid rgba(255, 255, 255, 0.321) 1px;
}
.header-logo
{
    height: 90%;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.header-logo img
{
    height: 90%;
    width: auto;
    border-radius: 10px;
}
/*----Tabs ----*/
.tabs
{
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.tabs li
{
    width: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tabs li a
{
    color: whitesmoke;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-shadow: 2px 2px 0px var(--dark-purple);
    color: skyblue;
}
/*----Burger Menu----*/
.list
{
    display: none;
}
.burger
{
    width: 40px;
    padding: 5px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.burger li
{
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 100%;
    height: 15%;
    background: whitesmoke;
}
.click
{
    top: 3px;
    right: 3px;
    width: 60px;
    height: 50px;
    z-index: 100;
    position: absolute;
}
.burger :active
{
    cursor: grabbing;
}
#tabs
{
    position: absolute;
    background: none;
    border: none;
    height: 50%;
    width: 50%;
    left: 40%;
    top: 70px;
}
#tabs li
{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 5px 0.5px rgba(30, 0, 30, 0.7);
    background-color: rgba(30, 0, 30, 0.7);
    backdrop-filter: blur(40px);
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    height: 15%;
    width: 90%;
}
#tabs a
{
    color: skyblue;
    list-style: none;
    font-size: larger;
    text-decoration: none;
}
.action a
{
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    width: 100%;
}

/*----Main Section----*/
main
{
    width: 100%;
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
/*----Services background----*/
.serv-bg
{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
}
.serv-bg img
{
    width: 100%;
    height: 100%;
    object-fit: stretch;
}
/*----Services Data----*/
.serv-data
{
    gap: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#serv-box
{
    width: 300px;
    padding: 5px;
    display: flex;
    overflow: auto;
    aspect-ratio: 1/1;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    animation: zoomfade 2s linear;
    justify-content: space-between;
    border: solid rgba(255, 255, 255, 0.321) 1px;
}
#serv-box ul
{
    width: 95%;
    height: 70%;
    padding: 5px;
    display: flex;
    overflow: auto;
    font-weight: bold;
    align-items: start;
    border-radius: 15px;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.2);
}
.more_btn
{
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px;
    background: linear-gradient(to right, purple, rgb(200, 29, 200), purple);
    animation: slidedown 1s forwards ease-in-out;
}
.more_btn a
{
    color: white;    
    font-weight: bolder;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    animation: slidedown 3.5s forwards ease-in-out;
}
/*----Whatsapp Icon Link----*/
#wa-link
{
    right: 1%;
    bottom: 5%;
    width: 70px;
    padding: 5px;
    height: 70px;
    z-index: 1000;
    display: flex;
    position: fixed;
    border-radius: 50%;
    align-items: center;
    justify-content: space-between;
    animation: pulse 2s linear infinite;
}
#wa-link a
{
    height: 70px;
    padding: 5px;
    display: flex;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.321) 1px;
    box-shadow: 0 0 5px 5px rgba(33, 0, 33, 0.54);
}
#wa-link img
{
    height: 50px;
    animation: zoomfade 2s linear;
    animation-timeline: scroll();
}
#wa-link .invite
{
    display: none;
}

/*----Contacts Section----*/
#contacts
{
    width: 100%;
    display: flex;
    height: 100dvh;
    position: relative;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    scroll-snap-align: start;
}
.contacts-bg
{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
}
.contacts-bg img
{
    width: 100%;
    height: 100%;
    object-fit: stretch;
}
.con-head
{
    align-content: center;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: white;
    height: 10%;
    width: 80%;
}
.parent
{
    gap: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    animation: zoomfade 2s linear;
}
.con-box
{
    gap: 13%;
    padding: 5%;
    width: 300px;
    height: 300px;
    display: flex;
    color: white;
    overflow: auto;
    aspect-ratio: 1/1;
    align-items: start;
    border-radius: 20px;
    list-style-type: none;
    flex-direction: column;
    justify-content: start;
    backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.321) 1px;
}
.con-box hr
{
    width: 90%;
}

/*-----Footer Section-----*/
hr
{
    width: 90%;
}
footer
{
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
    scroll-snap-align: end;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(200, 29, 200), var(--dark-purple));
}
.copyright
{
    display: flex;
    padding: 0 5%;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
.author
{
    width: 500px;
    height: 30px;
    display: flex;
    color: white;
    font-style: italic;
    align-items: center;
    justify-content: right;
    font-family: var(--font-1-B);
}
.author a
{
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    align-items: center;
    padding: 0 10% 0 5%;
    font-style: normal;
    width: fit-content;
    color: skyblue;
    font-size: large;
    display: flex;
    height: 100%;
}
.author a img
{
    width: auto;
    height: 100%;
}
@media screen and (max-width: 800px)
{
    .tabs
    {
        display: none;
    }
}
@media screen and (min-width: 800px)
{
    .burger
    {
        display: none;
    }
}